molten/test-mule/src/main/app/hellolambda.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <vm:connector name="VM" validateConnections="true" doc:name="VM">
        <vm:queue-profile>
            <default-in-memory-queue-store/>
        </vm:queue-profile>
    </vm:connector>
    <flow name="hellolambdaFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="in" connector-ref="VM" doc:name="VM"/>
        <logger message="&quot;Logger 1&quot;" level="INFO" doc:name="Logger"/>
        <response>
            <logger message="&quot;Logger 2&quot;" level="INFO" doc:name="Logger"/>
        </response>
        <set-variable variableName="input" value="#[payload]" doc:name="Variable"/>
        <set-payload value="#['{&quot;message&quot;: &quot;test is done, ' + flowVars.input + '&quot;}']" doc:name="Set Payload" mimeType="application/json"/>
    </flow>
</mule>
